
/* body, html {
    background-color: #f3dce3;
} */

.page-image {
    width: 55%;
    height: auto;
}

.page-image-smaller {
    width: 40%;
    height: auto;
}

@media only screen and (orientation: portrait) {
    .page-image {
        width: 100%;
        height: auto;
    }

    .page-image-smaller {
        width: 100%;
        height: auto;
    }

}

.category-wrapper {
    display: flex;
    flex-wrap: wrap; /* This will allow categories to wrap to the next line */
    justify-content: space-around; /* This spreads the categories evenly across the width of the wrapper */
}

.category {
    flex: 1 1 30%; /* This sets the flex-grow, flex-shrink, and flex-basis properties */
    margin: 10px; /* Adds some space around each category */
    min-width: 300px; /* Ensures that each category doesn't get too narrow */
}

footer {
    border: 2px solid black;
    border-radius: 10px;
}