.game-image {
    width: 25%;
    height: auto;
}

body, html {
    background-color: #f3dce3;
}

.page-image {
    width: 55%;
    height: auto;
}

.page-image-smaller {
    width: 35%;
    height: auto;
}

@media only screen and (orientation: portrait) {
    img {
        width: 75%;
        height: auto;
    }
}